#nav-bar{
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  padding: 0 2em 0 2em;
  background-color: #00a087;
  color: #e8fdff;
  z-index: 2000;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
  padding-right: 10px;
}

#nav-bar .header{
  float: left;
  font-size: 210%;
  line-height: 230%;
}