/*

  1. Rounded borders
  2. Line below Heading
  3. right alighned counter
  4. Padded text inside textarea
  5. Spaced by 2em on either side and centered
*/

main .new-tweet {
  border: 1px solid;
  border-radius: 10px;
  padding: 0 3% 3% 3%;
  margin: 2em;
  background-color: #00a087;
}

main .new-tweet h2{
  border-bottom: 1px solid;
  font-size: 120%;
}

main .new-tweet .counter{
  float: right;
  font-style: italic;
}

/*main .new-tweet input {
  float: left;
}
*/
main .new-tweet textarea {
  padding: 2%;
  width: 100%;
}